<!DOCTYPE html>
<html>
<head>
  <title>{{ site.base_title }}</title>
  <link rel="stylesheet" media="all" href="{{ site.css_path }}">
</head>
<body>
  <h1>Layout Default</h1>
  <h2>{{ site.base_title }}</h2>
  <h2>{{ title }}</h2>
  <h2>{{ description }}</h2>

  <a href="/">Home</a>
  <a href="/about.html">about</a>
  <a href="/welcome.html">welcome</a>
  {{#> content-block}}
  {{/content-block}}

  {{> includes/footer }}
  <script src="{{ site.js_path }}"></script>
</body>
</html>
